<section id="new-task" class="task-overlay">

  <!-- BACKDROP -->
  <div class="backdrop" (click)="onCancel()"></div>

  <!-- MODAL -->
  <div class="task-modal">

    <!-- HEADER -->
    <div class="modal-header">
      <mat-icon class="header-icon">add_task</mat-icon>

      <div>
        <h2>Add Task</h2>
        <p>Create a new travel plan or activity</p>
      </div>

      <button class="close-btn" (click)="onCancel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <!-- FORM -->
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm" class="task-form">

      <!-- TITLE -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Title</mat-label>

        <input
        title="title"
          matInput
          type="text"
          name="title"
          required
          minlength="3"
          [(ngModel)]="enteredTitle"
          #title="ngModel"
        />

        @if (title.invalid && title.touched) {
          <mat-error>
            @if (title.errors?.['required']) {
              Title is required
            } @else if (title.errors?.['minlength']) {
              Title must be at least 3 characters
            }
          </mat-error>
        }

      </mat-form-field>

      <!-- SUMMARY -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Summary</mat-label>

        <textarea
        title="summary"
          matInput
          rows="5"
          name="summary"
          [(ngModel)]="enteredSummary"
        ></textarea>
      </mat-form-field>

      <!-- DUE DATE -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Due Date</mat-label>

        <input
        title="dueData"
          matInput
          type="date"
          name="dueDate"
          [(ngModel)]="enteredDueDate"
        />
      </mat-form-field>

      <!-- ACTIONS -->
      <div class="modal-actions">

        <button
          mat-stroked-button
          type="button"
          (click)="onCancel()"
        >
          <mat-icon>close</mat-icon>
          Cancel
        </button>

        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="taskForm.invalid"
        >
          <mat-icon>check_circle</mat-icon>
          Create Task
        </button>

      </div>

    </form>

  </div>

</section>